.stack {
align-items: center;

}

.stack-container {
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 5px 20px;
    align-items: center;
    position: sticky;
}


.SkillList_item {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.4rem;
    background-color: #fff;
    border: 1px solid #8bcdcd;
    border-radius: 0.25rem;
}

code {
    color: #3797a4;
}

p {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900;
    color: #333456;
}

.alignright {
  margin-left: 50px;
  
}



@media only screen and (min-width: 1200px) {
  .stack-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .stack-container {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .stack-container {
    margin-bottom: 2rem;
  }
}